/.vs
/Core.Bus.Domain/obj
/Core.Bus.Domain/bin
/Employer.Api/obj
/Employer.Api/bin
/Employer.Application/obj
/Employer.Application/bin
/Employer.Domain/obj
/Employer.Domain/bin
/Employer.Infrastructure/obj
/Employer.Infrastructure/bin
/Infrastructure.Bus/obj
/Infrastructure.Bus/bin
/Infrastructure.Ioc/obj
/Infrastructure.Ioc/bin
/Management.Api/obj
/Management.Api/bin
/Management.Application/obj
/Management.Application/bin
/Management.Domain/obj
/Management.Domain/bin
/Management.Infrastructure/obj
/Management.Infrastructure/bin
/Web/obj
/Web/bin
